<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IEDeliveryIntegrationService"
                    messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://edelivery.egov.bg/Services/EDeliveryIntegrationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEDeliveryIntegrationService"
                contract="IEDeliveryIntegrationService" name="BasicHttpBinding_IEDeliveryIntegrationService" />
        </client>
    </system.serviceModel>
</configuration>